{% extends "base.html" %}

{% block navbar %}
  <a href="{{ url_for('main.feed') }}" class="header__btn-back">
    <svg class="header__btn-icon" width="19" height="16">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#back"></use>
    </svg>
  </a>
  <a href="{{ url_for('main.tag_feed', tag_name=tag_name) }}" class="header__logo-link">
    <svg class="header__logo" width="100%" height="26">
      <text x="20" y="20" style="font-weight: bold; font-size: 26px">TAG / {{ tag_name }}</text>
    </svg>
  </a>
{% endblock %}

{% block app_content %}
  {% for post in posts %}
    {% include '_post_in_feed.html' %}
  {% endfor %}
{% endblock %}
